# ignore old drafts of code
old/
wandb/
examples/__pycache__/
simvbg/__pycache__/
analysis_output/
experiment_output_data/


# bend venv activate 
#source .venv/bin/activate
# bend install package
#python -m pip install openpyxl